---

description: kiflay web developer, web site developer,ecommerce developer,web application developer

---

<!DOCTYPE html>
<html>
  

  {% include head.html %}
  {% include google-analytics.html %}
  <body>
   

    {% include header.html %}

    <div class="page-content">
      <div class="kt-carousel">
        
           <div class="rs-carousel">
            <span class="prev"></span>
            <span class="next"></span>
            <ul>
              <li class="carousel-image">
                 <img src="/assets/Images/Home/Home/1.png">
              </li>
               <li class="carousel-image">
                <img src="/assets/Images/Home/Home/2.png">
              </li>
              <li class="carousel-image">
                <img src="/assets/Images/Home/Home/3.png">
              </li>
              
             
            </ul>
          </div>
      </div>
      

                    
         <div class="home">
           <div class="order-food-section">
             <div class="uber-eats-section">
               <a target="new" class="btn btn-primary" href="https://www.order.store/store/frey-restaurant/0Mt2Pr-MVgKbs3o9RbSIZA">
                     Order Food With Uber Eats
               </a>

               <a target="new" class="btn btn-primary ml-25" title="Order food with Just Eat" href="https://www.just-eat.co.uk/restaurants-frey-restaurant-walthamstow/">
                Order food With Just Eat
              </a>
             </div>
           </div>
          <div class="kt-content">
            <div class="about-us-section-index">
              <div class="about-us-image">
                <img class="section-about-us" src ="/assets/Images/Home/Home/Original/veg.png">
              </div>
              <div class="about-us-content">
                <h2>All about FREY Restaurant</h2>
                <p>FREY Restaurant is a family run </p>
                 <p> restaurant where you experience</p>
                 <p>the sincerity of the Eritrean and Ethiopian food. </p>
                <p>The vegetarian rich  </p>
                <p>cuisine is a product of a very long-held</p>
                <p> tradition connected to the Orthodox Church,</p>
                <p>dedicating two days a week </p> 
                <p>
                  free of all meats and animal products.
                </p>
                

                
              </div>
            </div>
        
          </div>
          <div class="customers-review-section">
            <div class="customers-review-heading">
              <h2>What Are Our Customers Saying?</h2>
            </div>
            <div class="customers-review-inner-content">
            <div class="customer-review-section-content">
              <img class="section-menu" src="/assets/Images/Home/frey/1.png">
            </div>
            <div class="customer-review-section-content">
              <img class="section-menu" src="/assets/Images/Home/frey/2.png">
            </div>
            <div class="customer-review-section-content">
              <img class="section-menu" src="/assets/Images/Home/frey/3.png">
            </div>
          </div>
          </div>
          <div class="order-food-section">
            <div class="uber-eats-section">
              <a target="new" class="btn btn-primary" href="https://www.order.store/store/frey-restaurant/0Mt2Pr-MVgKbs3o9RbSIZA">
                    Order Food With Uber Eats
              </a>
              <a target="new" class="btn btn-primary ml-25" title="Order food with Just Eat" href="https://www.just-eat.co.uk/restaurants-frey-restaurant-walthamstow/">
                Order food With Just Eat
              </a>
            </div>
          </div>
      </div>

    </div>
    {% include mailchimp.html %}
   {% include footer.html %}

  </body>
</html>


