---

description: kiflay web developer, web site developer,ecommerce developer,web application developer

---

<!DOCTYPE html>
<html>
  

  {% include head.html %}
  {% include google-analytics.html %}
  <body>
   

    {% include header.html %}

    <div class="page-content">
      <div class="kt-carousel">
        
           <div class="rs-carousel">
            <span class="prev"></span>
            <span class="next"></span>
            <ul>
              <li class="carousel-image">
                 <img src="/assets/Images/Home/Home/1.png">
              </li>
               <li class="carousel-image">
                <img src="/assets/Images/Home/Home/2.png">
              </li>
              <li class="carousel-image">
                <img src="/assets/Images/Home/Home/3.png">
              </li>
              
             
            </ul>
          </div>
      </div>

                    
         <div class="home">
          <div class="kt-content">
                <img class="section-about-us" src ="/assets/Images/Home/Home/5.png" style="width:100%">
                 <img class="section-menu" src="/assets/Images/Home/Home/6.png" style="width:100%">
        
          </div>

            

      </div>

    </div>
    {% include mailchimp.html %}
   {% include footer.html %}

  </body>
</html>


